/* 
    Created on : 31/10/2018, 02:20:14 PM
    Author     : Miguel - 3728005 - TIPC_Miguel {@code 421965@student.fontys.nl}
*/
*{
    margin: 0 auto 0 auto ;
    padding: 0;
}
body{
    background-color: white;
    font: 15px helvetica;
}
main{
    width: 960px;
    height: 760px; 
}





button{
    background-color: #61daff;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 80px;
    height: 35px;
    font: helvetica;
    cursor: pointer;
}
header{
    width: 85px;  
    height: 85px;
    float: left;
    margin: 5px;
    position: relative;
}
square{
    width: 850px;
    height: 30px;
    float: right;
    position: relative;
}
nav{
    width: 850px;
    height: 35px;
    background-color: #61daff;
    float: right;
    position: relative;
}
#Searchbar{
    position: absolute;
    right: 50px;
    top: 5px;
    border: none;
    height: 25px;
    border-radius: 10px;
}
#Searchbar2{
    border: 1px solid;
    height: 25px;
    border-radius: 10px;
}
#Magnifier{
    position: absolute;
    right: 60px;
    top: 9px
}
#ShoppingCart{
    position: absolute;
    right: 25px;
    top: 9px;
}
#Username{
    position: absolute;
    right: 255px;
    top: 8px;
}
#Profile{
    position: absolute;
    right: 325px;
    top: 7px;
}





article{
    width: 960px;
    height: 580px;
}
section{
    background-color: white;
    opacity: 1;
    position: relative;
    width: 40%;  
    height: 550px;
    top: -98%;
    left: -29%;
    z-index: 2;
    line-height: 44px;
}
aside{
    background-color: white;
    opacity: 1;
    position: relative;
    width: 57%;  
    height: 550px;
    top: -193%;
    left: 20.5%;
    z-index: 2;
    line-height: 49px;
}
#cvv{
    position: absolute;
    width: 70px;
    top: 435px;
    left: 400px;
}
#cvv_explained{
    position: absolute;
    width: 200px;
    top: 400px;
    left: 550px;
}
p{
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 2.5em;
}





footer{
    width: 960px;
    height: 85px;
}

