body {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    background: #fff;
	color: #666;
	font: 90%/180% Arial, Helvetica, 
}

nav {
    /*background: #4e6baa;*/   
    width:100%;
    height: 100%; 
    margin: 0;
    padding: 0 auto;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;    
}

li a {
    display: block;    
    width: 80px;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
    
}

.searchdiv {
    display: block; 
    text-align: right;
    padding: 4px 25px 3px 2px;
       
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
    font-size: 100%;    
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #61daff;	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
    color: #999;
    
}

input::-webkit-input-placeholder {
    color: #999;
    
}

#search_bar input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
    cursor: pointer;
    
}

#search_bar input[type=search]:hover {
    background-color: #fff;
    
}

#search_bar input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
    cursor: auto;
    
}

#search_bar input:-moz-placeholder {
    color: transparent;
    
}

#search_bar input::-webkit-input-placeholder {
    color: transparent;
    
}




