
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eff1f4; 
    font: bold 15px helvetica, arial, tahoma, sans-serif;
    text-align: left; 
}
main {
    width: 960px; 
    margin: 0 auto;
    color: #303030;
    
}
header {  
  padding: 60px;
  text-align: center;
  background: #5fdcfc;
  color: #303030;
  font-size: 30px;
}

table, th, td {
   border: 1px solid black;
   
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  

nav {
    width: 960px;
    height: 40px;
    background-color: #54c8e5;
    line-height: 40px; 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5fdcfc;  
    color: #303030;
    text-align: center;
}
        
        
