<!DOCTYPE html>
<html>
    <head>
        <title>CSS1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="CSS3.css">
    </head>
    <body>
        <main>
            <header>
                <img src="Images/Attachment-1.png" alt="Logo" width="100%" height="100%"/>           
            </header>
            <square></square>            
            <nav>
                <p>
                <a href="FILL IN LINK"><button type="button">SPORTS</button></a>
                <a href="FILL IN LINK"><button type="button">CONCERTS</button></a>
                <a href="FILL IN LINK"><button type="button">THEATER</button></a>
                <a href="FILL IN LINK"><button type="button">FESTIVALS</button></a>
                <a href="FILL IN LINK"><button type="button">OTHER</button></a>
                
                <!-- account box "username" -->
                <a href="FILL IN LINK"><img src="images/makefg.png" id="Profile" width="20"/></a>
                <em style="font-size: 15px; color: white;" id="Username">username</em>
                <!-- searching -->
                <input type="text" id="Searchbar">
                <a href="FILL IN LINK"><img src="Images/magnifier.png" id="Magnifier" width="15"/>
                <!-- Shoppingcard -->
                <a href="FILL IN LINK"><img src="images/cart-icon-white.png" id="ShoppingCart" width="20"/></a></p>    
            </nav>            
           
            <article>
                <img src="Images/3.jpg" id="Background" width="100%" height="100%"/>
                
                <section></section>
                
                <aside></aside>
            </article>
            
            <footer></footer>
        </main>
    </body>
</html>
